@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(round.ttf) format('truetype');
}

@font-face {
  font-family: 'Icon Round';
  font-style: normal;
  font-weight: 400;
  src: url(round.ttf) format('truetype');
}

/* fallback */
@font-face {
  font-family: 'Icon Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(sharp.ttf) format('truetype');
}

/* fallback */
@font-face {
  font-family: 'Icon Outline';
  font-style: normal;
  font-weight: 400;
  src: url(outline.ttf) format('truetype');
}

/* cyrillic-ext */
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  src: url(roboto-flex.ttf) format('truetype');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: Comfortaa;
  src: url(comfortaa.ttf) format('truetype');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
